main {
  min-height: 100vh;
  background-color: #e99b04;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.App-header {
  text-align: center;
  font-size: 23px;
}

.temp-text {
  font-size: calc(10px + 2vmin);
  padding: 10px;
}

.form {
  padding: 10px;
  background: white;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.24);
}

.input {
  background-color: #e7f0fa;
  border: 1px solid #94939e;
  box-sizing: border-box;
  border-radius: 4px;
}

.bar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
  position: fixed;
  width: 100%;
  height: 50px;
  align-items: center;
  text-align: center;
  font-size: 23px;
  list-style-type: none;
  padding: 0;
}
a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

.ul-style {
  margin-block-start: 0;
  margin-block-end: 0;
  align-items: center;
  list-style-type: none;
}

.card {
  background-color: white;
  padding: 10px 40px 10px 40px;
  margin: 10px 0;
}
.mb-5 {
  margin-bottom: 5px;
}

.sub {
  padding: 5px;
}

td,
th {
  text-align: left;
  padding: 15px 30px;
}

.y-scroll .element {
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
}

.field {
  text-align: right;
  margin-right: 55px;
}
