.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.temp-text {
  color: white;
  font-size: calc(10px + 2vmin);
  padding: 10px;
}

.btn {
  padding: 10px;
}
